/.vscode

# Firmware build directory - ignore everything except .bin files
firmware/build/*
!firmware/build/*.bin

# Examples FPGA build directories - ignore everything except flash bitstream files
examples/*/ffpga/build/*
!examples/*/ffpga/build/bitstream/
examples/*/ffpga/build/bitstream/*
!examples/*/ffpga/build/bitstream/FPGA_bitstream_FLASH_MEM.bin
!examples/*/ffpga/build/bitstream/FPGA_bitstream_FLASH_MEM.txt
!examples/*/ffpga/build/bitstream/FPGA_bitstream_FLASH_MEM_1MB.bin
